 /**colors:

light purple (h2): #382A5E;
dark purple (h1): #2e2a65;
reddish (h3): #994e4f;
background: #F1DAC4;
headers/footers: #F7EADE;

**/



body {
  background-color: #F1DAC4;
}

.nested{
  border: 5px;
  border-style: solid;
  border-color: #994e4f;
  margin: 0;
  padding:5px;
  color: #032077;
  font-family: 'Roboto', sans-serif;

}


h1{
  margin-top: 5px;
  color: #2e2a65;
  font-family: 'Ubuntu', sans-serif;
}

h2{
  color: #4C397F;
  font-family: 'Ubuntu', sans-serif;
}

h3{
  color: #994e4f;
  font-family: 'Roboto', sans-serif;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 100px;
  background-color: #F7EADE;
}

li a {
  display: block;
  color: #2e2a65;
  padding: 8px 16px;
  text-decoration: none;
  font-family: 'Roboto', sans-serif;
}

li a:hover {
  background-color: #382A5E ;
  color: #F1DAC4;
  font-family: 'Roboto', sans-serif;
}

.active {
  background-color: #4CAF50;
  color: white;
  font-family: 'Roboto', sans-serif;
}

th{
  width: 50%;
    
}

.footer {
  background-color: #F7EADE;
  text-align: center;
  position: fixed;
  left: 0;
  right:0;
  bottom: 0;
  color: #2e2a65;
  font-family: 'Roboto', sans-serif;
}


table{
    empty-cells: show;
}




td{
  width: 33%;
  color: #2e2a65;
  font-family: 'Roboto', sans-serif;
}
